{% extends "site_base.html" %}

{% load i18n %}
{% load cache %}
{% load sitetree %}

{% block head_title %}Accepted {{ schedule.section.name }}{% endblock %}

{% block extra_head %}
	<style>

	</style>
{% endblock %}

{% block body %}
	{% cache 600 "schedule-list" schedule.section.name %}
		{% for presentation in presentations %}
			<div class="">
				<h3>
					<a href="">{{ presentation.title }}</a>
				</h3>
				<h4>
					{{ presentation.speakers|join", " }}
				</h4>
				{% if presentation slot %}
				<h4>
					{{ presentation.slot.day.date|date:"l" }}
					{{ presentation.slot.start }}&ndash;{{ presentation.slot.end }}
					in
					{{ presentation.slot.rooms|join:", " }}
				</h4>
				{% endif %}
				<small>{{ presentation.description }}</small>
			</div>
		{% endfor %}
	{% endcache %}
{% endblock %}