<!DOCTYPE html>

{% load static %}

<html class="no-js"><!--<![endif]-->
    <head>
      <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>DjangoCon 2014 | Coming Soon!</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <style>
          body {
              padding-top: 50px;
              padding-bottom: 20px;
          }
      </style>
      <link rel="stylesheet" href="{% static 'css/djangocon.css' %}">
      <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/main.css' %}">

      <script src="file://www.google-analytics.com/analytics.js"></script><script src="{% static 'js/vendor/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    
    
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <p>COMING SOON!</p>
            <div class="col-md-2 col-sm-2 col-centered"><hr></div>
          <h1>Djangocon US 2014</h1>
          <h2>September 1 - September 6</h2>
          <h2>Portland, OR</h2>
            <div class="col-md-2 col-sm-2 col-centered top-buffer">
              <hr>
            </div>
        </div>
      </div><!-- /row -->

      <div class="row bottom-buffer">
        <div class="col-md-12">
          <h2>CALL FOR PAPERS</h2>
          <div class="col-md-6 col-centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin lacinia ante sit amet tempor. Sed consectetur velit et eros commodo, ut commodo mauris consequat. </p>
          </div>
   
        </div>
      </div> <!-- /row -->

      <div class="row">      
          <div class="col-md-2 col-sm-2 col-centered"><hr>
          </div>
      </div><!-- /row -->

      <div class="row bottom-buffer">
        <div class="col-md-12">
          <h2>SPONSORS</h2>
        </div>
      </div><!-- /row -->

        <div class="row top-buffer">
           <div class="col-md-3 col-sm-3">
            <div class="logo">
              <img width="150" src="{% static 'images/logos/logo1.png' %}" />
            </div>
          </div>

           <div class="col-md-3 col-sm-3">
            <div class="logo">
              <img width="150" src="{% static 'images/logos/logo2.png' %}" />
            </div>
          </div>         

           <div class="col-md-3 col-sm-3">
            <div class="logo">
              <img width="150" src="{% static 'images/logos/logo3.png' %}" />
            </div>
          </div>      

           <div class="col-md-3 col-sm-3">
            <div class="logo">
              <img width="150" src="{% static 'images/logos/logo4.png' %}" />
            </div>
          </div>

        </div><!-- /row -->

        <div class="row top-buffer">
           <div class="col-md-3 col-sm-3">
            <div class="logo">
              <img width="150" src="{% static 'images/logos/logo1.png' %}" />
            </div>
          </div>

           <div class="col-md-3 col-sm-3">
            <div class="logo">
              <img width="150" src="{% static 'images/logos/logo2.png' %}" />
            </div>
          </div>         

           <div class="col-md-3 col-sm-3">
            <div class="logo">
              <img width="150" src="{% static 'images/logos/logo3.png' %}" />
            </div>
          </div>      

           <div class="col-md-3 col-sm-3">
            <div class="logo">
              <img width="150" src="{% static 'images/logos/logo4.png' %}" />
            </div>
          </div>

        </div> <!-- /row --> 

        <div class="row top-buffer">
           <div class="col-md-3 col-sm-3">
            <div class="logo">
              <img width="150" src="{% static 'images/logos/logo1.png' %}" />
            </div>
          </div>

           <div class="col-md-3 col-sm-3">
            <div class="logo">
              <img width="150" src="{% static 'images/logos/logo2.png' %}" />
            </div>
          </div>         

           <div class="col-md-3 col-sm-3">
            <div class="logo">
              <img width="150" src="{% static 'images/logos/logo3.png' %}" />
            </div>
          </div>      

           <div class="col-md-3 col-sm-3">
            <div class="logo">
              <img width="150" src="{% static 'images/logos/logo4.png' %}" />
            </div>
          </div>

        </div>  <!-- /row --> 

        <div class="row top-buffer bottom-buffer">
          <div class="col-md-6 col-centered">
            <h3>FOLLOW US FOR UPDATES</h3>
            <a href="http://twitter.com/djangocon" target="_blank"><img width="60" src="{% static 'images/twitter-icon.png' %}" /></a>
          </div>
        </div>       


    </div> <!-- /container -->



        <script src="file://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>window.jQuery || document.write("<script src=\"{% static 'js/vendor/jquery-1.11.0.min.js' %}\""><\/script>')</script><script src="{% static 'js/vendor/jquery-1.11.0.min.js' %}"></script>

        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>

        <script src="{% static 'js/main.js' %}"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>


</body>
</html>
