{% extends "comps/site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load boxes_tags %}
{% load cache %}

{% block head_title %}Contact Us{% endblock head_title %}

{% block body_class %}full{% endblock body_class %}

{% block body %}

<div class="row small-header">
    <div class="container">
        <h1>Contact Us</h1>
    </div>
</div>

<div class="container no-padding page-content">

    <div class="col-md-7 col-sm-9 col-xs-11 col-centered">
        <form action="." method="POST">
            {% csrf_token %}
            {{ form|as_bootstrap }}
            <input type="submit" name="submit" value="Submit" />
        </form>
    </div>
</div>
{% endblock body %}
